footer {
    grid-area: footer;
    background: rgb(137,133,205);
    background: linear-gradient(90deg, rgba(137,133,205,1) 0%, rgba(127,190,203,1) 77%);
    justify-content: center;
    align-items: center;
    display: flex;
    div {
        ul {
            li{
                :hover{
                    animation-name: zoom;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
}