$colores:(
    estilo:  rgb(104,179,175),
    cursos: rgb(211, 218, 255),
    boton: rgb(85, 105, 161),
    boton-2: rgb(154, 154, 218),
);

$font-1: 'Anton', sans-serif;
$font-2: 'Fjalla One', sans-serif;

$font-xxl: 60px;
$font-xl: 50px;
$font-l: 40px;
$font-m: 30px;
$font-s: 35px;
$font-xs: 20px;